<div class="sidebar_table">
	<table class="table table-borderless table-hover">
	  <thead>
	    <tr>
	      <th class="sidebar_head">ジャンルで商品を絞る</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% ItemGenre.all.each do |item_genre| %>
	  	<tr>
	  		  <div class="random_item_content">
				<td>
				  <%= link_to item_genre.name, search_public_items_path(item_genre.id) %>
				</td>
              </div>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
