<div class="sidebar_table">
	<table class="table table-borderless table-hover">
	  <thead>
	    <tr>
	      <th colspan="2" class="sidebar_head">他の会員に物資を<br>送ることができます</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% Item.order("RANDOM()").limit(3).each do |random| %>
	  	<tr>
	  		  <div class="random_item_content">
	  		    <td>
	  			  <%= attachment_image_tag random, :image, size: "50x40", fallback: "no_image_item.png" %>
	  		    </td>
				<td >
				  <%= link_to public_item_path(random) do %>
				  <div class="randome_item">
			  	<%= random.item_name %>
			    </div>
			    <% end %>
				</td>
              </div>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
