<div class="container-fluid">
	<div class="row">
		<div class="about_header">
			<h1>What's PURRFECT_STORY?</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
		  <div class="boxes">
			<div class="box1">
				<div class="box1_image"></div>
				<div class="box1_text">
					<p class="box1_text_gaiyou">
						PURRFECT_STORYは保護された猫のエピソードを投稿するサイトです。<br>
						・その子がどういう経緯や状態で発見されたか<br>

                        ・どのように保護主のもと、あるいは保護団体の元へきたか<br>

                        ・どういう病気や怪我をしていたか<br>

						・そこからどう回復をしたか(あるいは回復してきているか)<br>

						・どんな性格をしているか(猫は好きか、人は好きか、遊び好きか、甘えたがりか、一人が好きか、など)<br>

						・拾った時と、現在に性格(様子)の違いはあるか(例:拾った時はものすごく怯えていたけど今はこんなに甘えん坊です！)<br>
						これらの点を踏まえてその子の半生をストーリーにし、幸せになっている現状を紹介する内容か、あるいは譲渡先を募るような記事を投稿することができます。
					</p>
				</div>
			</div>
			<div class="box2">
				<div class="box2_text">
					<p class="box2_text_theme">
						【猫の保護活動の啓蒙・応援】がこのサイトのテーマです。<br>

その子が保護されるまでに置かれていた(ほとんどが不遇の)状態を知るほど、「この子が幸せになれてよかった」あるいは「この子を幸せにしてあげたい」という気持ちが湧くことでしょう。野良猫や正しくない環境に置かれている猫(限度を超えた多頭飼育や虐待など)がどのような猫生を送っていたのか、そして正しい人のもとで世話をされるとどのように変化するのかを紹介し、多くの人々に「私も猫を助けたい、猫と暮らしたい」という気持ちを芽生えさせ、ペットショップではなく保護施設から引き取る・野良猫を保護するという選択肢を考えるよう促すことを目的とします。<br>

エピソードを投稿するのは保護施設か、あるいは猫を保護した個人が想定されます。会員は、猫と暮らすための必需品(猫のご飯やトイレ砂、おもちゃなど)を保護団体や個人へ寄付することもできます。<br>
					</p>
				</div>
				<div class="box2_image"></div>
			</div>
			<div class="box3">
				<div class="box3_image"></div>
				<div class="box3_text">
					<p class="box3_text_theme">
						主な利用シーン<br>
						・保護施設がweb上で譲渡先を探したい場合 <br>
						・保護施設が経済的、物資的な援助を広く募りたい場合  <br>
						・個人で猫を保護したがずっと世話することはできないので譲渡先を探したい場合  <br>・個人が猫を引き取りたい場合  <br>
						・猫とは暮らせないけど、猫のために何かしたい人のために <br>
					</p>
				</div>
			</div>
		  </div>
		</div>
		<div class="col-2"></div>
	</div>
</div>