<div class="container-fluid">
  <div class="row">
    <div class="main-visual">
  </div>
    </div>
  <div class="row">
  	<div class="col-12">
  		<h4>本当に退会しますか？</h4>
  		<p>退会すると、会員登録情報や</p>
  		<p>これまでの購入履歴が閲覧できなくなります。</p>
  		<p>また、投稿した記事は自動的にすべて削除されます。</p>
  		<p>退会する場合は、「退会する」をクリックしてください。</p>
  	</div>
  </div>
  <div class="row">
  	<div class="col-12">
  		<div class="btn btn-info">退会しない</div>
  		<div class="btn btn-danger">退会する</div>
  	</div>
  </div>
</div>