
	<div class="row">
		<div class="col-1"></div>
		<div class="col-8">
		　<h3>ショッピングカート</h3>
	  </div>
	  <div class="col-2">
	  	 <div class="destroy_all btn btn-danger">カートを空にする</div>
	  </div>
	  <div class="col-1"></div>
	</div>
  <div class="row">
  	<div class="col-1"></div>
  	<div class="col-10">
	  	<table class="table">
	      <thead class="thead-light">
	      	<tr>
	      		<th>商品名</th>
	      		<th>単価（税込）</th>
	      		<th>数量</th>
	      		<th>小計</th>
	      		<th></th>
	      	</tr>
	      </thead>
	      <tbody>
	      	<tr>
	      		<td>
	      			美味しいご飯
	      		</td>
	      		<td>
	      			1,100
	      		</td>
	      		<td>
	      			1
	      			<div class="btn btn-primary">変更</div>
	      		</td>
	      		<td>
	      			1,100
	      		</td>
	      		<td>
	      			<div class="btn btn-danger">削除する</div>
	      		</td>
	      	</tr>
	      		      	<tr>
	      		<td>
	      			美味しいご飯2
	      		</td>
	      		<td>
	      			1,300
	      		</td>
	      		<td>
	      			1
	      			<div class="btn btn-primary">変更</div>
	      		</td>
	      		<td>
	      			1,300
	      		</td>
	      		<td>
	      			<div class="btn btn-danger">削除する</div>
	      		</td>
	      	</tr>
	      </tbody>
	    </table>
	  </div>
	  <div class="col-1"></div>
  </div>
  <div class="row">
  	<div class="col-1"></div>
  	<div class="col-2">
  		<div class="btn btn-primary">買い物を続ける</div>
  	</div>
  	<div class="col-6"></div>
  	<div class="col-3">
  		<div class="total_price">
  			<div class="total_price_text">合計金額</div>
  			<div class="total_price_price">1,760円</div>

  		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-12">
  		<div class="cart_next">
    		<div class="btn btn-success">注文情報入力へ進む</div>
    	</div>
  	</div>
  </div>
