    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
  	<div class="col-2"></div>
    	<div class="col-8">
      <div class="thanks">
    		<div class="thanks-image"></div>
    		<div class="thanks-message">
          <p class="thanks-text">ご注文誠にありがとうございます<br><br>
          売上の一部は猫の保護活動をする団体様へ<br><br>寄付をいたします。<br><br>
          こうした皆様のご協力により、<br><br>
          猫たちが今日もお腹いっぱいご飯を食べ、<br><br>屋根のある暖かい場所で寝ることができます。<br><br>
          またのご利用をお待ちしております。</p>
    		</div>
    	</div>
    </div>
  	<div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="top_back">
      <%= link_to "TOP PAGEへ戻る", root_path, class:"btn btn-success" %>
     </div>
    </div>
  </div>
</div>