/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "summernote-bs4";


@font-face {
	font-family: 'azuki';
	src: font-url('azuki.ttf') format("truetype");
	font-weight: normal;
    font-style: normal;
}



#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: black;
  z-index: 2;
}


.password_field {
	font-family:'Helvetica';
}

body {
	font-family: 'azuki';
	background-color:#FFF8DC;
}


h3 {
	color: #3aacad;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #3aacad;
  border-bottom: solid 2px #3aacad;
  background: -webkit-repeating-linear-gradient(-45deg, #dbedf0, #dbedf0 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #dbedf0, #dbedf0 3px,#e9f4ff 3px, #e9f4ff 7px);
}

a {
	color:#333333;
}

/*application.html.erbここから*/

.container {
	padding-top: 100px;
	padding-bottom: 200px;
}

#wrapper {
	width: 100%;
	overflow:hidden;
	min-height:100vh;
}

.navbar {
	background-color: pink;
}

a.nav-link {
	color:#FFFFFF;
}

a.navbar-brand {
	color:#FFFFFF;
}

a:hover {
	color:grey;
}

#container {
	width: 100%;
    height: 500px;
    margin-top: 90px;
	margin-bottom: 100px;
}

.image4 {
	background-image:image-url("image4.jpg");
}

.image5 {
	background-image:image-url("image5.jpg");
}

.image6 {
	background-image:image-url("image6.jpg");
}

.main-visual {
    width: 100%;
    height: 500px;
    background-image:image-url("image4.jpg");
    background-size:cover;
    margin-top: 90px;
	margin-bottom: 100px;
}

footer {
	width:100%;
	height:110px;
	background-color: pink;
	margin-top:100px;
}

.footer_logo {
    width:90px;
    height:95px;
	background-image:image-url("PURRFECT_STORY_LOGO2.png");
	background-size:cover;
	margin:0 auto;
}

.logo {
	width:90px;
	height:80px;
	background-image:image-url("PURRFECT_STORY_LOGO2_without_name.png");
	background-size:cover;
	float:left;
}

.logo_name {
	width:300px;
	height:40px;
	background-image:image-url("PURRFECT_STORY_LOGO2_only_name.png");
	background-size:cover;
	float:left;
	margin-top:20px;
}

/*application.html.erbここまで*/


/*homes/about.html.erbここから*/

.about_header {
	margin-top:150px;
	margin-left:490px;
	border-bottom: 10px solid orange;
}

.boxes {
    margin-top:100px;
    margin-left:70px;
}


.box1_image {
	width:390px;
	height:390px;
	background-image:image-url('post_image3.jpg');
	background-size:cover;
	float:left;
}

.box1_text {
	width:390px;
	height:390px;
	background-color:white;
	float:left;
}

.box1_text_gaiyou {
    padding:20px;
	font-size:14px;
}

.box2_text {
	width:390px;
	height:390px;
	background-color:white;
	float:left;
}

.box2_text_theme {
	padding:20px;
	font-size:14px;
}

.box2_image {
	width:390px;
	height:390px;
	background-image:image-url('post_image6.png');
	background-size:cover;
	float:left;
}

.box3_text {
	width:390px;
	height:390px;
	background-color:white;
	float:left;
}

.box3_text_theme {
	padding:20px;
	font-size:14px;
}

.box3_image {
	width:390px;
	height:390px;
	background-image:image-url('image3.jpg');
	background-size:cover;
	float:left;
}


/*homes/about.html.erbここまで*/


/*shared/_sidebar.html.erbここから*/

.sidebar_table {
    width: 200px;
	border: 3px solid #FF4F50;
	margin: 60px;
	border-radius:5px;
	background-color:white;
}

.sidebar_head {
	text-decoration:underline;
	text-decoration-color: #FF4F50;
	text-align:center;
}

/*shared/_sidebar.html.erbここまで*/

/*homes/top.html.erbここから*/

.new_post_header {
	margin-bottom: 50px;
}

.top_new_post {
	margin:4px;
	float:left;
	border:1px solid;
	background-color:white;
}



/*homes/top.html.erbここまで*/

/*posts/index.html.erbここから*/

.all_posts_header {
	text-align:center;
	margin:70px 0 50px 0;
}

.first_post {
	border:1px solid grey;
	border-radius: 5px;
	width:820px;
	margin-left:20px;
	background-color:white;
}

.first_post_user {
  margin-left:20px;
  margin-bottom:10px;
}


.all_posts_box {
	border:1px solid grey;
	border-radius: 5px;
	width:400px;
	margin-top:20px;
	margin-left:20px;
	background-color:white;
}

.first_post_image {
    margin:20px;
	overflow:hidden;
}

.first_post_image_tag {
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.first_post_image_tag:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.first_post_title{
	width:780px;
	margin:20px;
}


.all_posts_box {
	float:left;
}

img {
	object-fit:cover;
}

.all_post_image {
	margin:20px;
	overflow:hidden;
}


.all_post_image_tag {
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.all_post_image_tag:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.all_post_title {
	width:370px;
	margin:20px;
}

.first_post_number_of_favorite {
	margin:0 20px 20px 30px;
}

.first_post_number_of_comments {
	margin:0 20px 20px 30px;
}

/*posts/index.html.erbここまで*/


/*items/index.html.erbここから*/

.item_image {
	width: 200px;
	height: 150px;
	background-color:pink;
}

.all_item {
	margin:20px;
	float:left;
}

.all_items_header {
	text-align:center;
	margin:70px 0 50px 0;
}

/*items/index.html.erbここまで*/

/*items/show.html.erbここから*/

.item_show_image {
	width: 400px;
	height: 300px;
	background-color:pink;
	float:left;
}

.item_show_header {
	text-align:center;
	margin:70px 0 50px 0;
}

.item_show_text {
    margin-left: 20px;
	width: 400px;
	height: 300px;
	float:left;
}

.public_item_show_image {
	background-color:white;
	border:1px solid;
	border-radius:5px;
}

/*items/show.html.erbここまで*/

/*cart_items/index.html.erbここから*/

.destroy_all {
	margin-top:20px;
	margin-bottom:20px;
}

.public_cart_item_table {
	background-color:white;
}


.total_price_text {
	width:100px;
	height:50px;
	border: 1px solid;
	float:left;
	background-color:white;
}

.total_price_price {
	width:100px;
	height:50px;
	border: 1px solid;
	float:left;
	background-color:white;
}

.cart_next {
	text-align:center;
}

.cart_item_table {
	margin-bottom:50px;
	backgrond-color:white;
}

.postage {
	text-decoration:underline;
	text-decoration-color: #FF4F50;
	text-align:center;
}

/*cart_items/index.html.erbここまで*/



/*orders/confirm.html.erbここから*/


.public_orders_confirm_table {
	background-color:white;
}

.postage_confirm {
	margin-bottom:20px;
}

.button-center {
	text-align:center;
}

/*orders/confirm.html.erbここから*/


/*orders/thanks.html.erbここから*/

.thanks {
	border:5px solid grey;
	width:910px;
	height:560px;
}

.thanks-image {
    width:450px;
    height:550px;
	background-image: image-url("image1.jpg");
	background-size:cover;
	float:left;
}

.thanks-message {
    width:450px;
    height:550px;
    background-color:white;
    float:left;
}

.thanks-text {
	text-align:center;
	padding-top:100px;
	text-decoration:underline;
	text-decoration-color: #FF4F50;
}

.top_back {
    margin-top:50px;
	text-align:center;
}


/*orders/thanks.html.erbここまで*/

/*admin/admins/top.html.erbここから*/

.admin_top_text {
	margin-top:100px;
}

.admin-top-header {
	margin-top:50px;
	background-color:#FFCCCC;
}

.post_image {
    margin:10px;
	overflow:hidden;
}

.top_new_post {
    border-radius:5px;
	border:1px solid grey;
}

.post_title {
	margin-left:10px;
}

.post_image_tag {
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.post_image_tag:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/*admin/admins/top.html.erbここまで*/


/*admin/posts/show.html.erbここから*/


.admin_post_show_button {
	float:right;
}


/*admin/posts/show.html.erbここまで*/


/*admin/items/index.html.erbここから*/



/*admin/items/index.html.erbここまで*/


/*admin/items/show.html.erbここから*/

.admin_item_show_header {
	margin-top:50px;
	background-color:#FFCCCC;
}

.admin_item_show_image {
	margin-top:50px;
}

.admin_item_show_text {
	margin-top:150px;
}

/*admin/items/show.html.erbここまで*/

/*admin/item_genres/index.html.erbここから*/


.radio_buttons {
	float:left;
	margin-right:15px;
}


/*admin/item_genres/index.html.erbここまで*/

/*public/items/index.html.erbここから*/

.item_each_contents {
	float:left;
	margin:20px;
}

.item_each_image {
	border: 2px solid;
	background-color:white;
}

/*public/items/index.html.erbここまで*/

/*public/items/show.html.erbここから*/


.public_item_show_text {
	margin-top:100px;
}

.cart_create {
	margin-top:20px;
}

/*public/items/show.html.erbここまで*/


/*public/orders/index.html.erbここから*/

.order_item {
	width:400px;
}

.public_orders_table {
	background-color:white;
}

/*public/orders/index.html.erbここまで*/


/*members/sessions/new.html.erbここから*/

.log_in_message {
	text-align:center;
	margin-bottom:30px;
	text-decoration:underline;
	text-decoration-color: #FF4F50;
}

.new_session_logo {
    margin:150px auto 0px auto;
    width:700px;
    height:300px;
}

.new_session_logo_icon {
	width:220px;
	height:200px;
	background-image:image-url("PURRFECT_STORY_LOGO2_without_name.png");
	background-size:cover;
	float:left;
}

.new_session_logo_name {
	width:450px;
	height:60px;
	background-image:image-url("PURRFECT_STORY_LOGO2_only_name.png");
	background-size:cover;
	float:left;
	margin-top:70px;
}

.log_in_header {
	text-align:center;
	padding-top:20px;
}

.log_in {
	width:500px;
	background-color: white;
	text-align:center;
	margin:0 auto;
}

.log_in_form {
	padding-top:20px;
	padding-bottom:50px;
}

/*members/sessions/new.html.erbここまで*/

/*admins/sessions/new.html.erbここから*/

.admin_log_in {
	width:500px;
	height:400px;
	background-color: #EEEEEE;
	text-align:center;
	margin:200px auto 0px auto;
}

/*admins/sessions/new.html.erbここまで*/

/*public/members/show.html.erbここから*/

.member_show_content {
	text-align:center;
}

.rounded-circle {
	background-color:white;
}

.member_show_text {
    margin: 30px 0px 30px 0px;
}

.member_show_text_2 {
    margin: 30px 0px 30px 0px;
}

.mypage_blue_buttons {
	text-align:center;
}

.mypage_withdrawal_button {
	text-align:center;
}

.member_show_text_table {
	background-color:white;
	margin:0 auto;
	}

.member_posts {
	margin-top:10px;
}

/*public/members/show.html.erbここまで*/

/*public/members/edit.html.erbここから*/

.add_profile_image {
	margin-bottom: 10px;
	margin-left: 35px;
}

.member_actions {
	margin-left: 53px;
}


/*public/members/edit.html.erbここまで*/

/*public/posts/show.html.erbここから*/

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 70px;
}

.post_show {
	border: 1px solid;
	background-color:white;
	padding: 20px;
	width:685px;
	border-radius:5px;
}

.buttons {
    border-top:3px solid grey;
	height: 70px;
}

.post_delete_button {
    float:right;
    padding-top:10px;
}

.post_show_title {
	margin:20px 0 20px 0;
}

.favorite {
float:left;
padding-top:10px;
}

.comments {
	border: 1px solid;
	background-color:white;
	padding: 20px;
	width:685px;
	border-radius:5px;
	margin-top:30px;
}

.comment_form {
	border-top: 3px solid grey;
	padding-top:10px;
}

.submit_button {
	text-align:right;
}

.comment_delete_button {
	text-align:right;
	border-bottom:1px solid grey;
}

.comment_member {
	margin-top:5px;
}

.comment_text {
	width:650px;
	word-wrap:break-word;
}

.index_image {
	margin-top: 20px;
	margin-left:200px;
}

.add_index_image {
    margin-top:5px;
	margin-left:235px;
}

.add_image {
	margin-left:20px;
}

.post_actions {
    margin-top:10px;
	float:right;
}

.post_show_title {
	border-bottom: 3px solid grey;
}

.post_genre_field {
	margin:10px 0 10px 0;
}

.comment_hyouji {
	margin-bottom:10px;
}