/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "summernote-bs4";


@font-face {
	font-family: 'azuki';
	src: font-url('/assets/azuki.ttf') format("truetype");
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'azuki';
	background-color:#FFF8DC;
}


h3 {
	color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

a {
	color:#333333;
}

/*application.html.erbここから*/

.container {
	padding-top: 100px;
	padding-bottom: 200px;
}

#wrapper {
	width: 100%;
	overflow:hidden;
	min-height:100vh;
}

.navbar {
	background-color: pink;
}

a.nav-link {
	color:#FFFFFF;
}

a.navbar-brand {
	color:#FFFFFF;
}

a:hover {
	color:grey;
}

.main-visual {
    width: 100%;
    height: 500px;
    background-image:image-url("image4.jpg");
    background-size:cover;
    margin-top: 90px;
	margin-bottom: 100px;
}

footer {
	width:100%;
	height:110px;
	background-color: pink;
	margin-top:100px;
}

.footer_logo {
    width:90px;
    height:95px;
	background-image:image-url("PURRFECT_STORY_LOGO2.png");
	background-size:cover;
	margin:0 auto;
}

.logo {
	width:90px;
	height:80px;
	background-image:image-url("PURRFECT_STORY_LOGO2_without_name.png");
	background-size:cover;
	float:left;
}

.logo_name {
	width:300px;
	height:40px;
	background-image:image-url("PURRFECT_STORY_LOGO2_only_name.png");
	background-size:cover;
	float:left;
	margin-top:20px;
}

/*application.html.erbここまで*/


/*shared/_sidebar.html.erbここから*/

.sidebar_table {
    width: 200px;
	border: 3px solid #FF4F50;
	margin: 60px;
	border-radius:5px;
	background-color:white;
}

.sidebar_head {
	text-decoration:underline;
	text-decoration-color: #FF4F50;
	text-align:center;

}

/*shared/_sidebar.html.erbここまで*/

/*homes/top.html.erbここから*/

.new_post_header {
	margin-bottom: 50px;
}

.new_post {
	margin:20px;
	float:left;
}

.post_image {
	width: 200px;
	height: 150px;
}

/*homes/top.html.erbここまで*/

/*posts/index.html.erbここから*/

.all_posts_header {
	text-align:center;
	margin:70px 0 50px 0;
}

.first_post {
	border:1px solid grey;
	border-radius: 5px;
	width:820px;
	margin-left:20px;
	background-color:white;
}

.all_posts_box {
	border:1px solid grey;
	border-radius: 5px;
	width:400px;
	margin-top:20px;
	margin-left:20px;
	background-color:white;
}

.first_post_image {
	margin:20px;
}



.first_post_title{
	width:780px;
	margin:20px;
}


.all_posts_box {
	float:left;
}

img {
	object-fit:cover;
}

.all_post_image {
	margin:20px;
}



.all_post_title {
	width:370px;
	margin:20px;
}

.first_post_number_of_favorite {
	margin:0 20px 20px 30px;
}

.first_post_number_of_comments {
	margin:0 20px 20px 30px;
}

/*posts/index.html.erbここまで*/


/*items/index.html.erbここから*/

.item_image {
	width: 200px;
	height: 150px;
	background-color:pink;
}

.all_item {
	margin:20px;
	float:left;
}

.all_items_header {
	text-align:center;
	margin:70px 0 50px 0;
}

/*items/index.html.erbここまで*/

/*items/show.html.erbここから*/

.item_show_image {
	width: 400px;
	height: 300px;
	background-color:pink;
	float:left;
}

.item_show_header {
	text-align:center;
	margin:70px 0 50px 0;
}

.item_show_text {
    margin-left: 20px;
	width: 400px;
	height: 300px;
	float:left;
}

.public_item_show_image {
	background-color:white;
	border:1px solid;
	border-radius:5px;
}

/*items/show.html.erbここまで*/

/*cart_items/index.html.erbここから*/

.destroy_all {
	margin-top:20px;
	margin-bottom:20px;
}

.total_price_text {
	width:100px;
	height:50px;
	border: 1px solid;
	float:left;
}

.total_price_price {
	width:100px;
	height:50px;
	border: 1px solid;
	float:left;
}

.cart_next {
	text-align:center;
}

.cart_item_table {
	margin-bottom:50px;
	backgrond-color:white;
}

/*cart_items/index.html.erbここまで*/

/*orders/thanks.html.erbここから*/

.thanks-image {
    width:450px;
    height:550px;
	background-image: image-url("image1.jpg");
	background-size:cover;
	margin: 50px auto;
}

.thanks-message {
	width: 400px;
	height:330px;
	background-image: image-url("fukidashi.png");
	background-size:cover;
}

.thanks-text {
	line-height:350px;
    margin-left:70px;
}

/*orders/thanks.html.erbここまで*/

/*admin/admins/top.html.erbここから*/

.admin_top_text {
	margin-top:100px;
}

.admin-top-header {
	margin-top:50px;
	background-color:#FFCCCC;
}

/*admin/admins/top.html.erbここまで*/

/*admin/items/index.html.erbここから*/

.admin_all_items {
	margin-top:100px;
}

/*admin/items/index.html.erbここまで*/


/*admin/items/show.html.erbここから*/

.admin_item_show_header {
	margin-top:50px;
	background-color:#FFCCCC;
}

.admin_item_show_image {
	margin-top:50px;
}

.admin_item_show_text {
	margin-top:150px;
}

/*admin/items/show.html.erbここまで*/

/*admin/item_genres/index.html.erbここから*/


.radio_buttons {
	float:left;
	margin-right:15px;
}


/*admin/item_genres/index.html.erbここまで*/

/*public/items/index.html.erbここから*/

.item_each_contents {
	float:left;
	margin:20px;
}

.item_each_image {
	border: 2px solid;
	background-color:white;
}

/*public/items/index.html.erbここまで*/

/*public/items/show.html.erbここから*/


.public_item_show_text {
	margin-top:100px;
}

/*public/items/index.html.erbここまで*/


/*public/orders/index.html.erbここから*/

.order_item {
	width:400px;
}

/*public/orders/index.html.erbここまで*/


/*members/sessions/new.html.erbここから*/


.new_session_logo {
    margin:150px auto 0px auto;
    width:700px;
    height:300px;
}

.new_session_logo_icon {
	width:220px;
	height:200px;
	background-image:image-url("PURRFECT_STORY_LOGO2_without_name.png");
	background-size:cover;
	float:left;
}

.new_session_logo_name {
	width:450px;
	height:60px;
	background-image:image-url("PURRFECT_STORY_LOGO2_only_name.png");
	background-size:cover;
	float:left;
	margin-top:70px;
}

.log_in_header {
	text-align:center;
	padding-top:20px;
}

.log_in {
	width:500px;
	height:400px;
	background-color: #EEEEEE;
	text-align:center;
	margin:0 auto;
}

.log_in_form {
	padding-top:20px;
}

/*members/sessions/new.html.erbここまで*/

/*admins/sessions/new.html.erbここから*/

.admin_log_in {
	width:500px;
	height:400px;
	background-color: #EEEEEE;
	text-align:center;
	margin:200px auto 0px auto;
}

/*admins/sessions/new.html.erbここまで*/

/*public/members/show.html.erbここから*/

.member_show_content {
	text-align:center;
}

.rounded-circle {
	background-color:white;
}

.member_show_text {
    margin: 30px 0px 30px 170px;
}

.member_show_text_2 {
    margin: 30px 0px 30px 370px;
}

.mypage_buttons {
	margin-left:370px;
}

/*public/members/show.html.erbここまで*/

/*public/members/edit.html.erbここから*/

.public_member_edit_header {
	margin-top:150px;
}