    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
  	</div>
    <div class="col-9">
      <h3 class="all_items_header">商品一覧(全×件)</h3>
      <div class="all_items">
	      	<div class="all_item item1">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item2">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item3">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item4">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item5">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item6">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item7">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>
	      	<div class="all_item item8">
	      		<div class="item_image"></div>
	      		<div class="item_name">商品名</div>
	      		<div class="item_price">¥1,000</div>
	      	</div>

	      </div>
    </div>
  </div>
</div>