    <div class="container-fluid">
      <div class="row">
        <div class="main-visual">
      </div>
    </div>
  <div class="row">
  	<div class="col-3">
  	  <div class="sidebar">
        <%= render "public/shared/sidebar" %>
  	  </div>
  	</div>
    <div class="col-9">
      <h3 class="item_show_header">商品詳細</h3>
      <div class="item_show">
      	<div class="item_show_image"></div>
      	<div class="item_show_text">
      		<h4 class="item_show_name">美味しいご飯７歳以上の猫ちゃん用</h4>
      		<div class="item_show_explanation">
      			商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です商品の説明です
      		</div>
      		<div class="item_show_price">¥1,000</div>
      	</div>
      </div>
    </div>
  </div>
</div>